
Flask
Flask-CORS
SQLAlchemy
Werkzeug
ast
sqlalchemy-stubs  # Optional but recommended for type hinting
psycopg2-binary  # Required for connecting to a PostgreSQL database (adjust if you use a different database)
fuzzywuzzy
pytesseract
Pillow  # PIL fork
regex
easyocr
